
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .notproduct_icon {
        display: flex;
        width: 200px;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    .notproduct_text {
        text-align: center;
        color: transparent;
        text-shadow: 0 0 1px rgb(203 194 36);
        text-align-last: center;
        display: block;
        font-size: 25px;
        font-style: italic;
        font-family: 'FontAwesome';
        font-weight: 900
    }

    .cart-btn-inthestreet {
        margin-left: 255px;
    }
</style>
<span class="notproduct_text">Thanh toán thành công</span>

